@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.logo{
    padding-left: 1%;
}

.logo h1 {
    margin: 0;
    color: #000000;
    text-decoration: none;
}

.logo h1 a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ffff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
}

.logo h1 a::before{
    background-color: #FFFFFF;
    color: #000;
}

.logo h1 a:hover{
    background-color: #303030;
    color: #ebebeb;
    transform: scale(1.06); /* Добавляем масштабирование кнопки при наведении */
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3); /* Изменяем тень при наведении */
}

nav{
    padding-left: 3%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ffff;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s;
    
}

nav ul li a::before{
    background-color: #FFFFFF;
    color: #000;
}

nav a:hover {
    background-color: #303030;
    color: #ebebeb;
    transform: scale(1.06); /* Добавляем масштабирование кнопки при наведении */
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3); /* Изменяем тень при наведении */
}

.user-actions a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ffff;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s;
    margin-left: 20px;
}

.user-actions a::before{
    background-color: #FFFFFF;
    color: #000;
}

.user-actions a:hover {
    background-color: #303030;
    color: #ebebeb;
    transform: scale(1.06); /* Добавляем масштабирование кнопки при наведении */
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3); /* Изменяем тень при наведении */
}

.main-content {
    text-align: center;
    margin-top: 250px;
}

.main-content h2 {
    font-size: 50px;
}

.search-form {
    margin-top: 10px;
}

.search-form input[type="text"] {
    box-shadow: var(--button-shadow, 0px 1px 2px 0px rgba(0, 0, 0, 0.05));
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background: #FFFFFF;
    left: 0px;
    bottom: 0px;
    padding: 15px;
    width: 742px;
    box-sizing: border-box;
}

.search-form button {
    box-shadow: var(--button-shadow, 0px 1px 2px 0px rgba(0, 0, 0, 0.05));
    border-radius: 8px;
    background: #000000;
    flex-direction: row;
    padding: 16px 0.6px 16px 0;
    width: 150px;
    height: fit-content;
    box-sizing: border-box;
    color: #fff;
}

.bottom-header {
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    min-height: calc(100vh - 400px); 
}

footer{
    position: absolute;
    bottom: 0;
}

.footer-center i {
    width: 20px;
    margin-right: 10px;
    font-size: 20px;
}

.footer-left{
    padding-left: 3%;
}
.footer-left p{
    color: #FFFFFF;
}

.footer-right {
    padding-right: 2.5%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    bottom: 100%;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
}



.paragraph {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: justify;
    width: 50%;
    padding-left: 25%;
}

.paragraph h2 {
    color: #000000;
    text-align: center;
}

p {
    color: #2b2b2b;
    line-height: 1.6;
}

.wrapper {
    height: 420px;
    width: 990px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  
  .watch-img {
    float: left;
    height: 420px;
    width: 327px;
  }
  
  .watch-img img {
    border-radius: 7px 0 0 7px;
  }
  
  .watch-info {
    float: left;
    padding-left: 3%;
    height: 420px;
    width: 500px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
  }
  
  .watch-text {
    height: 300px;
    width: 550px;
  }
  
  .watch-text h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #252525;
  }
  
  .watch-text h1,
  .watch-price-btn p {
    font-family: 'Bentham', serif;
  }
  
  .watch-text h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #424242;
    letter-spacing: 0.2em;
  }
  
  .watch-text p {
    height: 140px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #474747;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  .watch-btn {
    height: 103px;
    width: 327px;
    margin-top: 30px;
    position: relative;
  }
  
  .watch-btn p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
  }
  
  span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
  }
  
  .watch-btn button {
    display: inline-block;
    margin-left: 120%;
    height: 50px;
    width: 176px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #0a0a0a;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
  }
  
  .watch-btn button:hover {
    background-color: #979797;
    color: #3a3a3a;
    transition: 0.3s;
    transform: scale(1.06); /* Добавляем масштабирование кнопки при наведении */
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3); /* Изменяем тень при наведении */
  }

.rating{
    position: absolute;
    text-align: center;
    padding-top: 3px;
    padding-left: 3px;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
    height: 30px;
    width: 60px;
    background-color: #ffcc00;
}






